{% extends "homepage.html" %}

<!--titulo-->
{% block titulo %}Criar Conta | Fake Pinterest{% endblock %}

<!--body-->
{% block body %}

<h1>Criar Conta</h1>
{% block formulario %}
<form method="POST">
  {{ form.hidden_tag() }}
  <div>
    {{ form.email.label }}<br />
    {{ form.email(size=32) }}
  </div>
  <div>
    {{ form.username.label }}<br />
    {{ form.username(size=32) }}
  </div>
  <div>
    {{ form.senha.label }}<br />
    {{ form.senha(size=32) }}
  </div>
  <div>
    {{ form.confirmacao_senha.label }}<br />
    {{ form.confirmacao_senha(size=32) }}
  </div>
  <div>{{ form.submit() }}</div>
</form>
{% endblock %} {% endblock %}
