{% extends "homepage.html" %}

<!--titulo-->
{% block titulo %}Perfil | {{ usuario.username }}{% endblock %}

<!--body-->
{% block body %}

<!--navbar-->
{% include "navbar.html" %}

<!--traz as info do routes.py-->
<h1>Perfil de {{ usuario.username }}</h1>

{% if form %}
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <!---->
  {{ form.foto() }}
  <!---->
  {{ form.botao_confirmacao() }}
</form>
{% endif %} {% for foto in usuario.fotos %}
<img
  src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"
  alt="Imagem padrão"
/>
{% endfor %}

<h2>Galeria de Fotos</h2>
{% endblock %}
